.git
build
**/node_modules
web/backend_net_port/dist
**/build
web/backend_net_port/combined.log
web/backend_net_port/error.log
plans
CMakeCache.txt
**/CMakeCache.txt
CMakeFiles
**/CMakeFiles
cmake_install.cmake
**/cmake_install.cmake
Makefile
**/Makefile
